body {
    background-image: url("/GameVerkefni1/Assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}

.player { /* player character */
    position: absolute;
    width: 70px;
    height: 50px;
    background-image: url("/GameVerkefni1/Assets/Lunarian_Bow2fukkit.png");
    background-repeat: no-repeat;
    background-size: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the player initially */
}

#game-area {
    position: relative;
    width: 80%;
    height: 80vh;
    background-color: #e0e0e0;
    border: 2px solid #333;
}